body {
	margin: 0;
	font-family: sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	width: 100%;
	background: #37383a;
	padding: 20px 0;
}

header .container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

input {
	background: #fff;
	border-radius: 10px;
	width: 200px;
	padding: 5px 5px;
	border-style: none;
	position: relative;
}

img {
	width: 20px;
	position: absolute;
	left: 11%;
	top: 2.6%;
}

ul {
	margin: 0;
	display: flex;
	flex-direction: row;
}

ul li {
	list-style: none;
}

ul li a {
	color: #ccc;
	text-decoration: none;
}

ul li:first-child {
	margin-right: 30px;
}

h2 {
	margin-top: 50px;
	font-weight: 100;
}